body{
    margin:10px; 
 }
 .header-img{
    background-image:  linear-gradient(
         rgba(0, 0, 0, 0.2),
         rgba(0, 0, 0, 0.2)
       ),  url("https://static.wixstatic.com/media/9b3d0e_be180455877a4f79bb8d21d06850d4f9~mv2.jpg/v1/fill/w_1349,h_592,al_c,q_85,usm_1.20_1.00_0.01,enc_auto/9b3d0e_be180455877a4f79bb8d21d06850d4f9~mv2.jpg");
     
   height: 650px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   max-width: 100%;
 }
 .nav-parent{
     display: grid;
     grid-template-columns: 20% 60%  20%; 
     color: #CCCCCC;  
 
 }
 .nav-list{
     
     display:flex;
     justify-content: space-evenly;
     padding:20px;
 }
 .nav-list li a:hover{
     color: #C59D5F;
 }
 .icons{  
     margin-top:35px;
     display: flex;
     justify-content: center;
    
 }
 .icons a{
     text-decoration: none;
     color:#CCCCCC;
     margin-left: 15px;
     font-size: 1.3rem;
 }
 .logo{
     
     font-family: 'Passions Conflict', cursive;
     color:#CCCCCC;
     margin-top:0;
     margin-left:70px;
     font-size: 4rem;
    
 }
 .nav-list a{
     font-family: 'Cabin', sans-serif;
     text-decoration: none;
     color:#CCCCCC;
     font-size: 1rem;
     
 }
 .nav-list {
     list-style-type: none;
 } 
 .reservation{
     text-align: center;
     margin: auto;
 }
 .welcome{
     font-family: 'Herr Von Muellerhoff', cursive;
     color:#C59D5F;
     font-size: 6rem;
     margin-bottom: 0;
     line-height: 0.5;
 }
 .name-of-rest{
     font-family: 'Source Sans Pro', sans-serif;
     /* font-family: 'Cabin', sans-serif; */
     
     color:#CCCCCC;
     font-size: 2.5rem;
     margin-top: 0;
     letter-spacing: 3px;
     margin-bottom: 0;
 
 }
 .line{
     width:25%;
     margin-top: 0;
     border-bottom: 0;
     }
 .reserve-text{
  font-family: sans-serif;  
  color:#CCCCCC;
  letter-spacing: 0.333em;
 }
 .reservation button{
     font-family: 'Cabin', sans-serif;
     padding: 15px 30px;
     font-size:1.1rem;
     /* font-weight: 600; */
     letter-spacing: 0.2em;
     border-style: none;
     border-radius: 5px;
 }
 .reservation button:hover{
     background-color: #C59D5F;
 }
 
 
 
   /* Media Query for Mobile Devices */
 @media (max-width: 480px){
 
 }
 
    /* Media Query for low resolution  Tablets, Ipads */
    @media (min-width: 481px) and (max-width: 767px) {
    
 }
 
   /* Media Query for Tablets Ipads portrait mode */
   @media (min-width: 768px) and (max-width: 1024px){
     body {
         background-color: blue;
     }
 }
 
 