.header-img {
    position: relative;

}
.nav {
    display: grid;
    grid-template-columns: auto auto auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: #CCCCCC;
}